* {
  font-family: "Nunito", sans-serif;
  font-family: "Raleway", sans-serif;
}
.bg-img{
  background: url(/Content/backgrounds/01.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size:cover;
}

h1 {
  margin-left: auto;
  font-weight: bold;
  opacity: 0.6;
}
.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 20%;
}
.options button {
  width: 30vw;
}

button.bg-btn{
  background-color: rgb(150, 150, 223);
  opacity: 0.5;
}
.bg-btn a b{
  color: black;
}
.bg-btn a{
  text-decoration: none;
}
